@charset "UTF-8";
header { height: 100px;
         background-color: yellow;} 
section { height: 300px;
         background-color: green;} 
footer { height: 100px;
         background-color: orange;} 